<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Aviso Legal | Minner Crypto
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.3.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '0695abd3a66f32ddacae6f8ccef7baa798ab56c5';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
  </script>
  <!-- End Smartsupp Live Chat script -->
</head>

<body class="landing-page sidebar-collapse hidden">
  <!-- Preloader -->
  <div class="central-pre" id="onload">
    <div class="lds-heart">
      <img src="../assets/img/favicon.png">
      <div style="margin-top: 65px; margin-left: 14px; text-align: center;">
        <div class="progress" style="height: 1.5vh;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
         <h6 style="margin-top: 1vh; font-size: 11px;">Inicializando...</h6>
      </div>
    </div>
  </div>
  <!-- End Preloader -->
  <!-- Alert of Cookies -->
  <div class="cookies-box" id="cookies-box">
    <div class="container-cookies">
      <div class="parrafo">
        <p style="margin-bottom: 6px;">
          Utilizamos cookies propias y de terceros para mejorar nuestros servicios. <a href="components/cookies-policies-page.html">Política de Cookies</a>
        </p>
      </div>
      <div class="botones">
        <a class="btn btn-primary btn-round" id="acept">Acepto</a>
      </div>
    </div>
  </div>
  <div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>
  <!-- End Alert of Cookies -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
      <div class="dropdown button-dropdown">
        <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-header">Minería Correspondiente</a>
          <a class="dropdown-item" href="#">Bitcoin</a>
          <a class="dropdown-item" href="#">Etherium</a>
          <a class="dropdown-item" href="#">USDT</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">TRON</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Bitcoin Gold</a>
        </div>
      </div>
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip" title="Minner Crypto, Inc." data-placement="bottom" target="_blank">
          Minar ahora
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Volver al principio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eres nuevo inversor?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Siguenos en Twitter" data-placement="bottom" href="https://www.twitter.com/theminnercrypto" target="_blank">
              <i class="fab fa-twitter"></i>
              <p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="¡Dale me gusta en Facebook!" data-placement="bottom" href="https://www.facebook.com/theminnercrypto" target="_blank">
              <i class="fab fa-facebook-square"></i>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Siguenos Instagram" data-placement="bottom" href="https://www.instagram.com/theminnercrypto" target="_blank">
              <i class="fab fa-instagram"></i>
              <p class="d-lg-none d-xl-none">Instagram</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg6.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Aviso legal</h1>
        </div>
      </div>
    </div>
    <div class="section section-team text-left"  data-background-color="black">
      <div class="container">
        <div class="team">
          <div class="row">
              <div>
              <h2>1. AVISO LEGAL Y TÉRMINOS DE USO</h2>
              <p>
                Puedo garantizarte que te encuentras en un espacio 100% seguro, por ello, dando cumplimiento con el deber de información recogido en el artículo 12 de la Ley Orgánica de Telecomunicaciones (Lotel), a continuación se hace constar:
              </p></br>
              <h2>1.1. Datos identificativos del responsable</h2>
              <p>
                  Tal y como recoge el artículo 15 de la Ley Orgánica de Telecomunicaciones (Lotel), le informo que:
              </p>
              <p>
                Nuestra denominación social es: Minner Crypto, Inc.</br>
                Email: info@minnercrypto.com</br>
                Nuestra actividad social es: Trading, Inversiones y Criptomonedas
              </p></br>
              <h2>1.2. Finalidad de la página web.</h2>
              <p>
                Los servicios prestados por el responsable de la página web son los siguientes:
              </p>
              <p>
                La venta de formación y servicios sobre Trading, Inversiones y Criptomonedas</br>
                Gestionar la lista de suscriptores y usuarios adscritos a la comprar de servicios.</br>
                Suministro de contenidos en la página principal y subpáginas</br>
                Dirigir su red de afiliados y comerciantes así como la gestión de pagos de los mismos.
              </p></br>
              <h2>1.3. Usuarios:</h2>
              <p>
                El acceso y/o uso de este sitio web atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, los presentes términos de uso, no obstante, por el mero uso de la página web no significa el inicio de relación laboral/comercial alguna.
              </p></br>
              <h2>1.4. Uso del sitio web y captura de información:</h2>
              <h3>1.4.1 USO DEL SITIO WEB</h3>
              <p>La página web https://www.minnercrypto.com adelante (LA WEB) proporciona el acceso a artículos, informaciones, servicios y datos (en adelante, “los contenidos”) propiedad de Minner Crypto, Inc. El USUARIO asume la responsabilidad del uso de la web.</p></br>
              <p>El USUARIO se compromete a hacer un uso adecuado de los contenidos que ofrece a través de su web y con carácter enunciativo pero no limitativo, a no emplearlos para:</p>
              <p>
                (a) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público;</br>
                (b) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos;</br>
                (c) provocar daños en los sistemas físicos y lógicos de https://www.minnercrypto.com, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados;</br>
                (d) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y modificar o manipular sus mensajes.</br>
              </p></br>
              <p>
                Minner Crypto, Inc. se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación.
              </p></br>
              <p>
                En cualquier caso, Minner Crypto, Inc. no será responsable de las opiniones vertidas por los usuarios a través del blog u otras herramientas de participación que puedan crearse, conforme a lo previsto en la normativa de aplicación.
              </p></br>
              <h2>1.4.2 Captura de información</h2>
              <p> 
                – Formulario de contacto, donde el USUARIO deberá rellenar el campo de correo electrónico, asunto y nombre.</br>
                – Formulario de suscripción, rellenando el USUARIO los campos necesarios para la compra de productos con los campos de nombre, apellidos, dirección, ciudad, país, estado, código postal, email y contraseña.</br>
                – Cookies de rastreo, conforme a las siguientes reglas.</br>
                – Navegación y Dirección IP: Al navegar por esta web, el usuario facilita de forma automática al servidor de la web información relativa a tu dirección IP, fecha y hora de acceso, el hipervínculo que le ha reenviado a éstas, tu sistema operativo y el navegador utilizado.</br>
              </p></br>
              <p>
                A pesar de lo anterior, los usuarios podrán darse de baja en cualquier momento de los servicios prestados por Minner Crypto, Inc. o datos aportados por el USUARIO dando cumplimiento a la normativa vigente sobre Protección de Datos. Asimismo, tanto al suscribirse a esta página web como al realizar algún comentario en cualquiera de sus páginas y/o entradas, el usuario consiente:
              </p>
              <p>
                El tratamiento de sus datos personales en nuestro entorno conforme a sus políticas de privacidad.
              </p></br>
              <p>
                El acceso de Minner Crypto, Inc. a los datos que, de acuerdo con nuestra infraestructura, necesite el usuario aportar bien para la compra bien para cualquier consulta mediante el formulario de contacto.
              </p></br>
              <p>
                Asimismo, informamos que la información de nuestros usuarios está protegida de acuerdo a nuestra política de privacidad.
              </p></br>
              <p>Al activar una suscripción, formulario de contacto o comentario, el usuario comprende y acepta que:</p>
              <p>
                Desde el momento en que efectúa su compra o accedes a algún servicio de pago, Minner Crypto, Inc. tiene acceso a: Nombre, y email, o demás datos necesarios para facturación conformando un fichero siguiendo el artículo 12 de la Ley Orgánica de Telecomunicaciones (Lotel) con el nombre de “USUARIOS DE LA WEB Y SUSCRIPTORES” o en el caso de realizar alguna compra, será suscrito al fichero de “CLIENTES Y/O PROVEEDORES” teniendo acceso a datos de nombre, apellidos, email, dni y domicilio completo.
              </p></br>
              <p>
                En todo caso Minner Crypto, Inc. se reserva el derecho de modificar, en cualquier momento y sin necesidad de previo aviso, la presentación y configuración de la web https://wwww.minnercrypto.com como el presente aviso legal.
              </p></br>
              <h2>2. PROPIEDAD INTELECTUAL E INDUSTRIAL:</h2>
              <p>
                Minner Crypto, Inc. por sí o como cesionario, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de Minner Crypto, Inc. o bien de sus licenciantes. Todos los derechos reservados.
              </p></br>
              <p>
                Cualquier uso no autorizado previamente por Minner Crypto, Inc. será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.
              </p></br>
              <p>
                Quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de Minner Crypto, Inc.
              </p></br>
              <p>
                El USUARIO se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de Minner Crypto, Inc., Podrá visualizar únicamente los elementos de la web sin posibilidad de imprimirlos, copiarlos o almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico. El USUARIO deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en las páginas de Minner Crypto, Inc.
              </p></br>
              <p>
                Queda terminantemente prohibido compartir la licencia para uso con más personas, cada licencia es personal e intransferible reservándonos cuantas acciones civiles y penales nos asistan en aras de salvaguardar nuestros derechos, todo ello bajo apercibimiento de incurrir en un delito contra la propiedad intelectual de la Ley sobre el Derecho de Autor con penas de prisión de hasta 4 años.
              </p></br>
              <h2>3. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h2>
              <p>
                Minner Crypto, Inc. no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: por errores u omisiones en los contenidos, por falta de disponibilidad del sitio web, – el cual realizará paradas periódicas por mantenimientos técnicos – así como por la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.
              </p></br>
              <h2>4. MODIFICACIONES</h2>
              <p>
                Minner Crypto, Inc. se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su web.
              </p></br>
              <h2>5. POLÍTICA DE ENLACES</h2>
              <p>
                Las personas o entidades que pretendan realizar o realicen un hiperenlace desde una página web de otro portal de Internet a la web de Minner Crypto, Inc. , deberá someterse las siguientes condiciones:
              </p></br>
              <p>
                No se permite la reproducción total o parcial de ninguno de los servicios ni contenidos del sitio web sin la previa autorización expresa de Minner Crypto, Inc.</br></br>
                No se establecerán deep-links ni enlaces IMG o de imagen, ni frames con la web de Minner Crypto, Inc., sin su previa autorización expresa.</br></br>
                No se establecerá ninguna manifestación falsa, inexacta o incorrecta sobre la web de Minner Crypto, Inc. , ni sobre los servicios o contenidos de la misma. Salvo aquellos signos que formen parte del hipervínculo, la página web en la que se establezca no contendrá ninguna marca, nombre comercial, rótulo de establecimiento, denominación, logotipo, eslogan u otros signos distintivos pertenecientes a Minner Crypto, Inc. , salvo autorización expresa de éste.</br></br>
                El establecimiento del hipervínculo no implicará la existencia de relaciones entre Minner Crypto, Inc. y el titular de la página web o del portal desde el cual se realice, ni el conocimiento y aceptación de Minner Crypto, Inc. de los servicios y contenidos ofrecidos en dicha página web o portal.</br></br>
                Minner Crypto, Inc. no será responsable de los contenidos o servicios puestos a disposición del público en la página web o portal desde el cual se realice el hipervínculo, ni de las informaciones y manifestaciones incluidas en los mismos.El sitio web de Minner Crypto, Inc. puede poner a disposición del usuario conexiones y enlaces a otros sitios web gestionados y controlados por terceros. Dichos enlaces tienen como exclusiva función, la de facilitar a los usuarios la búsqueda de información, contenidos y servicios en Internet, sin que en ningún caso pueda considerarse una sugerencia, recomendación o invitación para la visita de los mismos.</br></br>
                Minner Crypto, Inc. no comercializa, ni dirige, ni controla previamente, ni hace propios los contenidos, servicios, informaciones y manifestaciones disponibles en dichos sitios web.</br></br>
                Minner Crypto, Inc. no asume ningún tipo de responsabilidad, ni siquiera de forma indirecta o subsidiaria, por los daños y perjuicios de toda clase que pudieran derivarse del acceso, mantenimiento, uso, calidad, licitud, fiabilidad y utilidad de los contenidos, informaciones, comunicaciones, opiniones, manifestaciones, productos y servicios existentes u ofrecidos en los sitios web no gestionados por Minner Crypto, Inc. y que resulten accesibles a través de Minner Crypto, Inc.</br></br>
              </p></br>
              <h2>6. DERECHO DE EXCLUSIÓN</h2>
              <p>
                Minner Crypto, Inc. se reserva el derecho a denegar o retirar el acceso al portal y/o los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Uso.
              </p></br>
              <h2>7. GENERALIDADES</h2>
              <p>
                Minner Crypto, Inc. perseguirá el incumplimiento de las presentes condiciones así como cualquier utilización indebida de su web ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.
              </p></br>
              <h2>8. MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN</h2>
              <p>
                Minner Crypto, Inc. podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
              </p></br>
              <h2>9. RECLAMACIONES Y DUDAS</h2>
              <p>
                Minner Crypto, Inc. informa que existen hojas de reclamación a disposición de usuarios y clientes pudiendo remitir un correo a info@minnercrypto.com indicando su nombre y apellidos, el servicio o producto adquirido y exponiendo los motivos de su reclamación.
                También puede dirigir su reclamación por correo postal dirigido a: Minner Crypto, Inc.
              </p></br>
              <h2>10. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h2>
              <p>
                La relación entre Minner Crypto, Inc. y el USUARIO se regirá por la normativa Venezolana (La Constitución de la República Bolivariana de Venezuela) vigente y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Caracas, salvo que la Ley aplicable disponga otra cosa.
              </p></br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" data-background-color="black">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="./legal-warning-page.html">
              Aviso Legal
            </a>
          </li>
          <li>
            <a href="./privacy-policies-page.html">
              Política de Privacidad
            </a>
          </li>
          <li>
            <a href="./cookies-policies-page.html">
              Cookies
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        &copy;
        <script>
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script> - Minner Crypto, Inc.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-kit.js?v=1.3.0" type="text/javascript"></script>
  <script src="../assets/js/preloader.js"></script>
  <script src="../assets/js/cookies.js"></script>
  <script src="../assets/js/script.js"></script>
</body>

</html>